# dependencies
node_modules/

# production
dist/

# vite cache
.vite/

# env files
.env
.env.*

# typescript
*.tsbuildinfo

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# macOS
.DS_Store

# VSCode
.vscode/
